* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*header*/
header {
    width: 100%;
    height: 140px;
    padding: 15px;
}

/*hear top*/
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 10px;
    padding-left: 20px;
    color: #4cb050;
    font-weight: 700;
    font-size: large;
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language .fa-language {
    color: #4cb050;
    font-size: 20px;
    margin: 5px;
}

.language .lan {
    margin: 5px;
    padding-left: 5px;
    font-size: 20px;
    color: #4cb050;
}

/*header buttom*/
/*navbar*/
.header-buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerButtom-left {
    width: 50%;
}

.headerButtom-left .navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
    list-style: none;
    font-size: 18px;
}

.headerButtom-left .navbar ul li {
    position: relative;
}

.headerButtom-left .navbar ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-weight: 400;
}

.headerButtom-left .navbar ul li a:hover {
    color: #4cb050;
}

.headerButtom-left .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0; /*underline will be hidden*/
    background: #4cb050;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.headerButtom-left .navbar ul li:hover::after {
    width: 100%;
}

.headerButtom-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*search input*/
.headerButtom-right form input {
    position: absolute;
    top: 50px;
    right: 300px;
    width: 300px;
    height: 40px;
    padding: 15px;
    margin: 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ddd;
}

.fa-magnifying-glass {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    background-color: #4cb050;
    top: 60px;
    right: 300px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.mood-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*day and light mood and contact us button*/
.mood-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-sun {
    color: #4cb050;
    font-size: 24px;
    margin-right: -25px;
}

.contact-btn {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 10px -80px 10px 0;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ddd;
    background: #fff;
    border: 1px solid #4cb050;
    border-radius: 3px;
    color: #4cb050;
}

hr {
    color: #eee;
}

/*main*/
.banner {
    width: 100%;
    height: 100vh;
    margin: 75px 0;
    background-image: /* linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),  */ url(bg.jpg);
    background-size: cover;
    background-position: center;
}

.main-box {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 270px;
    left: 60px;
    background: #4cb050;
    opacity: 0.88;
    /* backdrop-filter:blur(8px); */
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
}

h1 {
    margin: 30px 30px;
}

.main-box p {
    margin: 0 30px;
    padding: 10px;
    font-size: 1.3em;
    line-height: 1.3em;
}

/*features*/
.features {
    width: 100%;
    height: 140px;
    padding: 10px 15px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.features i {
    color: #4cb050;
    font-size: 24px;
    margin: 5px;
}

.features h3 {
    color: #333;
    margin: 5px;
    text-transform: uppercase;
}

.features p {
    color: #333;
    margin: 5px;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
}

/* links and socials */
.links {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.contactUs {
    text-align: left;
    justify-content: left;
    margin-left: 30px;
}

.contactUs a {
    text-decoration: none;
    color: #4cb050;
}

.contactUs p {
    display: inline-block;
    margin-top: 25px;
    color: #716363;
}

.links h3 {
    margin-top: 70px;
    color: #444;
}

.service,
.myAccount,
.information {
    padding: 0 30px;
    margin-right: 40px;
}

.service a,
.myAccount a,
.information a {
    text-decoration: none;
    color: #716363;
    text-align: left;
    justify-content: left;
}

.service p,
.myAccount p,
.information p {
    margin-top: 10px;
}

/* black box */
.social-box {
    width: 80%;
    height: 80px;
    margin: 0px 120px;
}

.social-box-left {
    width: 30%;
    height: 100%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.social-box-left a {
    color: #fff;
    font-size: 30px;
    margin: 0 5px;
}

.social-box-right {
    width: 70%;
    height: 100%;
    background: #716363;
    float: right;
}

.social-box-right form {
    text-align: center;
    margin: 25px 0;
}

.social-box-right form p {
    float: left;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 5px 10px 45px;
    text-align: center;
}

.social-box-right form input {
    width: 50%;
    height: 35px;
    border-radius: 3px;
    border: none;
    outline: none;
    float: right;
    margin: 0 45px 0 15px;
    position: relative;
}

.social-box-btn {
    width: 8%;
    height: 35px;
    background: #4cb050;
    color: #fff;
    position: absolute;
    right: 177px;
    border-radius: 0 3px 3px 0;
    text-align: center;
    padding: 4px;
    font-size: 20px;
}

/* footer */
.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    float: left;
    width: 50%;
    margin: 0 30px;
}

.footer p a {
    text-decoration: none;
    color: #4cb050;
}

.footer .payment-cards {
    width: 50%;
    margin: 0 5px;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .payment-cards img {
    width: 75px;
    height: 38px;
}
